body {
    color:black;
    background-color:rgb(255, 206, 206);
    font-size:0.95em;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 0.5em;
    margin-right: 0.5em;
}

p, h4 {
    margin-left: 1em;
}

h1, h2 {
    color:rgb(34, 25, 204);
    text-align:center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

h3 {
    text-align: center;
    color:rgb(130, 4, 117);
}

li strong {
    color:rgb(32, 163, 172);
}

em {
    color:rgb(8, 133, 62);
    font-weight: bold;
}

a {
    font-weight: bold;
}

a:link {  
    color:rgb(26, 72, 223);  
    text-decoration: none;
}

a:visited {
    color:rgb(136, 4, 125);
    text-decoration: none;
}

a:hover {
    color:rgb(177, 45, 45);
    background-color:rgb(255, 178, 178);
    text-decoration: underline;
}

a:active {
    color:rgb(27, 191, 203);
    background-color:rgb(240, 250, 253);
    text-decoration: none;
}

img {
    border:2px solid black;
    text-align:center;
    padding: 0.3em;
    background-color: rgb(25, 83, 25);
}

hr {
    border:1px solid black;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

p.intro {
    font-weight:lighter;
    text-indent: 3em;
}

p.body {
    text-indent: 3em;
}

blockquote {
    margin-left: 6em;
    font-style: italic;
}

p.conclusion {
    font-weight:bolder;
    text-indent: 3em;
}

p.photoCredit {
    text-align: center;
    margin-top:0em;
}

img#MerlinIMG {
    width: 400px;
    float: left;
    margin-left: 0.5em;
    margin-right: 1em;
    margin-top: 1em;
    margin-bottom: 1em;
}

h2#ArticleTitle {
    color:saddlebrown;
}

li#XDClass {
    color:blueviolet;
    font-weight:bolder;
}

ul li {
    margin-bottom: 0.3em;
}

img#RickyIMG {
    width:500px;
    background-color: rgb(75, 8, 96);
}

div.nav {  
    display:flex;
    justify-content: center;
    gap: .5em;
}

.footer {
    text-align: center;
    font-size: .9em;
    margin-top: 1em;
    margin-bottom: 1em;
}

.content {
    border: 1px solid;
    border-radius: .5em;
    padding: .5em;
    margin: .1em;
    background-color: rgb(249, 158, 148);
}

/* Making buttons pretty */

button {
    background-color: rgb(196, 245, 245);
    border-radius: .5em;
    padding: .5em;
}

button#revertChangesButton {
    background-color:whitesmoke;
    color: rgb(255, 48, 48);
}


@media only screen and (max-width: 800px) {
    body {
        margin: 0.2em;
        font-size: 16px;
    }
    p {
        margin: 0.2em;
    }
}

@media only screen and (min-width: 801px) {
    body {
        margin: 1em;
        font-size: 14px;
    }
    p {
        margin: 1em;
    }
}

@media only screen and (orientation: portrait) {
    [class*="col-"]body {
        font-size: 16px;
    }
    [class*="col-"]img#RickyIMG {
        width: 250px;
    }
    [class*="col-"]img#MerlinIMG {
        width: 150px;
    }
}

@media only screen and (orientation: landscape) {
    [class*="col-"]body {
        font-size: 14px;
    }
    [class*="col-"]p {
        font-size: 14px;
    }

    [class*="col-"]img#RickyIMG {
        width: 500px;
    }
    [class*="col-"]img#MerlinIMG {
        width: 400px;
    }
}


